APP_NAME=switchtosolar-ai-ops-api
APP_VERSION=0.1.0
ENVIRONMENT=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=switchtosolar_ai_ops
POSTGRES_USER=s2s_ai_user
POSTGRES_PASSWORD=s2s_ai_password

OPENAI_API_KEY=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
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-4o-mini